*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-a: #323238;
    --color-b: #E1E1E6;
    --color-c: #02799D;

    --font-a: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-a);
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-buttons,
.controls,
.cards {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.theme-buttons,
.controls {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all .8s;
}

.theme-buttons:hover,
button.controls:hover,
.cards:hover {
    transform: scale(1.3);
}

#choose-theme{
    position: absolute;
    top: 0;
    right: 0;
    height: fit-content;
    padding: 6.4rem;
}

.hide {
    display: none;
}

main {
    width: clamp(60rem, 60rem + 30vw, 82.1rem);
    height: 33.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timer {
    width: 32.1rem;
    height: 21.3rem;
}

#timer-numbers p {
    font-family: var(--font-a);
    font-style: normal;
    font-weight: 500;
    font-size: 12.6rem;
    line-height: 14.8rem;
    text-align: center;
    text-transform: uppercase;
    color: #323238;
}

#timer-controls {
    display: flex;
    justify-content: space-between;
}

#sounds {
    width: 30.8rem;
    height: 100%;
    display: grid;
    grid-gap: 3.2rem;
    grid-template-areas: 
    "A B"
    "C D";
}

.cards {
    width: 13.8rem;
    height: 15.2rem;
    cursor: pointer;
    background-color: var(--color-b);
    border-radius: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: all .8s;
}

input[type=range] {
    -webkit-appearance: none;
    background: var(--color-a);
    width: 9rem;
    height: .4rem;
    border-radius: .5rem;   
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 
    background: var(--color-a);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border: 0;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%; 
    background: var(--color-a);
    cursor: pointer;
}

.sound-on-div{
    background-color: var(--color-c);
}

.sound-on-svg{
    fill: #FFFFFF;
}

@media (max-width: 880px) {
    main {
        margin: 0 5vw;
    }
}

@media (max-width: 770px) {
    :root{
        font-size: clamp(2vw, 2vw + 10%, 3vw);
    }

    body {
        flex-direction: column-reverse;
    }

    #choose-theme{
       position: static; 
    }
    
    #choose-theme > button > img {
        width: 12vw;
        height: 12vw;
    }
    
    main {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 5rem;
    }

    #timer-controls button img {
        width: 12vw;
        height: 12vw;
    }

    button.controls:hover,
    .cards:hover {
        transform: none;
    }
}